* {
    position: relative;
    box-sizing: border-box;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.remove {
    display: none !important;
}

.blur {
    -webkit-filter: blur(12px);
    filter: blur(12px);
}

.loading-init {
    width: 100%;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}
.loading-init__header {
}
.loading-init__status {
    margin-top: 1em;
    opacity: 0.75;
}

.stage-container {
    overflow: hidden;
    box-sizing: initial;
}
@media (max-width: 840px) {
    .stage-container {
        border: none;
        margin: 0;
    }
}

.canvas-container {
    width: 100%;
    height: 100%;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
}
.canvas-container canvas {
    position: absolute;
    mix-blend-mode: lighten;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.menu__inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
}
.menu__header {
    margin-top: auto;
    margin-bottom: 8px;
    padding-top: 16px;
    font-size: 2em;
    text-transform: uppercase;
}
.menu__subheader {
    margin-bottom: auto;
    padding-bottom: 12px;
    font-size: 0.86em;
    opacity: 0.8;
}
