/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    overflow-x: initial !important;
}

body {
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    width:100%;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@keyframes soar {
  50% {
    transform: translate(0, -7px);
  }
}

@-webkit-keyframes soar {
  50% {
    -webkit-transform: translate(0, -7px);
  }
}

@-moz-keyframes soar {
  50% {
    -moz-transform: translate(0, -7px);
  }
}

@keyframes striking {
    0% { background-position: 0px -248px; opacity: 1.0; }
    7% { background-position: 0px 0px; opacity: 1.0; }
    10% { opacity: 0.1; }
    100% { opacity: 0.0; }
}

@-webkit-keyframes striking {
    0% { background-position: 0px -248px; opacity: 1.0; }
    7% { background-position: 0px 0px; opacity: 1.0; }
    50% { background-position: 0px 0px; opacity: 0.8; }
    100% { opacity: 0.0; }
}

@-moz-keyframes striking {
    0% { background-position: 0px -248px; opacity: 1.0; }
    7% { background-position: 0px 0px; opacity: 1.0; }
    50% { background-position: 0px 0px; opacity: 1.0; }
    100% { opacity: 0.0; }
}

@-o-keyframes striking {
    0% { background-position: 0px -248px; opacity: 1.0; }
    7% { background-position: 0px 0px; opacity: 1.0; }
    100% { opacity: 0.0; }
}

@keyframes drumming-up {
    0% { background-position: right 0px; }
    95% { background-position: right 5px; }
}

@-webkit-keyframes drumming-up {
    0% { background-position: right 0px; }
    95% { background-position: right 5px; }
}

@-moz-keyframes drumming-up {
    0% { background-position: right 0px; }
    95% { background-position: right 5px; }
}

@-o-keyframes drumming-up {
    0% { background-position: right 0px; }
    95% { background-position: right 5px; }
}

@-webkit-keyframes rocking {
    30% {
      -webkit-transform: rotate(1.5deg);
      -moz-transform: rotate(1.5deg);
      -o-transform: rotate(1.5deg);
      transform: rotate(1.5deg);
    }

    60% {
      -webkit-transform: rotate(-1.5deg);
      -moz-transform: rotate(-1.5deg);
      -o-transform: rotate(-1.5deg);
      transform: rotate(-1.5deg);
    }
}

@-o-keyframes rocking {
    30% {
      -webkit-transform: rotate(1.5deg);
      -moz-transform: rotate(1.5deg);
      -o-transform: rotate(1.5deg);
      transform: rotate(1.5deg);
    }

    60% {
      -webkit-transform: rotate(-1.5deg);
      -moz-transform: rotate(-1.5deg);
      -o-transform: rotate(-1.5deg);
      transform: rotate(-1.5deg);
    }
}

@-moz-keyframes rocking {
    30% {
      -webkit-transform: rotate(1.5deg);
      -moz-transform: rotate(1.5deg);
      -o-transform: rotate(1.5deg);
      transform: rotate(1.5deg);
    }

    60% {
      -webkit-transform: rotate(-1.5deg);
      -moz-transform: rotate(-1.5deg);
      -o-transform: rotate(-1.5deg);
      transform: rotate(-1.5deg);
    }
}

@keyframes rocking {
    30% {
      -webkit-transform: rotate(1.5deg);
      -moz-transform: rotate(1.5deg);
      -o-transform: rotate(1.5deg);
      transform: rotate(1.5deg);
    }

    60% {
      -webkit-transform: rotate(-1.5deg);
      -moz-transform: rotate(-1.5deg);
      -o-transform: rotate(-1.5deg);
      transform: rotate(-1.5deg);
    }
}


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

* {
   margin: 0px;
   padding: 0px;
}

html, body {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 1024px;
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    background: #a7d3db; /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3ZDNkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iI2NmZGRjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iI2UyZTNjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2VhYmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top,  #a7d3db 0%, #cfddc9 88%, #e2e3ce 94%, #fceabd 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7d3db), color-stop(88%,#cfddc9), color-stop(94%,#e2e3ce), color-stop(100%,#fceabd)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  #a7d3db 0%,#cfddc9 88%,#e2e3ce 94%,#fceabd 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  #a7d3db 0%,#cfddc9 88%,#e2e3ce 94%,#fceabd 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  #a7d3db 0%,#cfddc9 88%,#e2e3ce 94%,#fceabd 100%); /* IE10+ */

    background: linear-gradient(to bottom,  #a7d3db 0%,#cfddc9 88%,#e2e3ce 94%,#fceabd 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7d3db', endColorstr='#fceabd',GradientType=0 ); /* IE6-8 */

}

footer {
    position: relative;
    height: 378px;
    margin-top: 22px;
    background: url('../img/ground.png') center no-repeat;
    z-index: 0;
}



footer p {
    position: absolute;
    left: 50%;
    margin-left: 350px;
    bottom: 15px;
    color: #677435;
    font-size: 0.8em
}

footer p a, footer p a:active, footer p a:visited, footer p a:hover {
    color: #677435;
}

footer p a:hover {
    text-decoration: none;
}


#language-switcher-it {
    position: absolute;
    top: 65px;
    margin-left: 83%;
    left:0;
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    height: 32px;
    z-index:1;
}

#language-switcher-it a, #language-switcher-it a:visited, #language-switcher-it a:active {
    color: #A3A5A5;
    font-size: 1em;
    text-decoration: none;
    padding: 0 10px;
}

#language-switcher-it a:hover {
    color: #83CFCB;
}

#language-switcher-es {
    position: absolute;
    top: 60px;
    margin-left: 75%;
    left:0;
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    height: 32px;
}

#language-switcher-es a, #language-switcher-es a:visited, #language-switcher-es a:active {
    color: #A3A5A5;
    font-size: 1em;
    text-decoration: none;
    padding: 0 10px;
}

#language-switcher-es a:hover {
    color: #83CFCB;
}


.sticky-wrapper {
    position: relative;
}

#balloon {
    position: fixed;
    left: 50%;
    margin-left: -304px;
    margin-top: -190px;
    width: 609px;
    height: 940px;
    background: url('../img/balloon.png') no-repeat center top;
    z-index: 99;
}

#balloon:hover {
    background: url('../img/balloon_salute@2x.png') no-repeat center top;
}

header {
    top: 110px;
    position: relative;
    height: 255px;
    background: url('../img/ribbon.png') center no-repeat;
    z-index: 100;
}

header #ribbon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

header div {
    position: absolute;
    text-shadow: 0px 1px 0px #ffffff;
}

header .title {
    font-family: "Sreda", "Georgia", "Times New Roman", serif;
    font-size: 3.7em;
    color: #8E6454;
    top: 45px;

}

header .subtitle {
    font-family: "Georgia", serif;
    font-size: 2.2em;
    color: #9B7664;
    top: 130px;

}

header .date {
    left: 110px;
}

header .year {
    right: 120px;
}

header .bride {
    left: 360px;
    -webkit-transform: rotate(353deg);
    -moz-transform: rotate(353deg);
    -o-transform: rotate(353deg);
    transform: rotate(353deg);
    writing-mode: lr-tb;
}

header .groom {
    right: 0%;
    margin-right: 330px;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
    writing-mode: lr-tb;
}

header span {

}

header span.left {

}

header span.right {

}

nav {
    position: fixed;
    bottom: 0px;
    right: 50px;
    z-index: 1000;
}

nav ul {
    position: relative;
    list-style: none;
}

nav ul li {
    background: 0px 0px url('../img/hearts.png') no-repeat;
    line-height: 0.7em;
    margin-bottom: 32px;
    height: 18px;
    width: 18px;
}

nav ul li a {
    display: none;
    position: absolute;
    right: 40px;
    color: #F26A47;
    text-decoration: none
}

nav ul li.selected {
    background-position: 0px -18px;
}

html.no-touch nav ul li:hover {
    cursor: pointer;
    background-position: 0px -18px;
}

.moment {
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: -5%;
    height: 675px;
    font-size: 1.3em;
}

.moment.first {
    margin-top: 250px;
}

.moment.last {
    margin-bottom: -300px;
    position: relative;
    margin-left: 100px;
    font-size: 1em;
    z-index:100;
}

.form_center{
    width:300px;
}

#form_center{
    width:500px;
}

.moment p {
    position: absolute;
    width: 250px;
    top: 20%;
    z-index: 10;
    color: #666666;
}

#message
{
    margin-top:220px;
}
.moment p.scroll-hint {
    color: #FAFDFC;
    font-family: "Sreda", "Georgia", "Times New Roman", serif;
    font-size: 1.3em;
    background: url('../img/arrow.png') right 0px no-repeat;
    padding-right: 2px;
    width: 100px;
    animation: drumming-up 0.8s linear infinite;
    -o-animation: drumming-up 0.8s linear infinite;
    -webkit-animation: drumming-up 0.8s linear infinite;
    -moz-animation: drumming-up 0.8s linear infinite;
}

.moment h4{
    margin-top:0px;
    margin-bottom:0px;
}
.moment p strong {
    font-family: "Sreda", "Georgia", "Times New Roman", serif;
    margin-top: 150px;
    margin-bottom: 13px;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 300;
    display: block;
    color: #F26A47;
}

.moment h2 strong {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 300;
    margin-left:1.4em;
    display: block;
    color: #F26A47;
}

.moment p.right {
    /*right: 50px;*/
    right: 0%;
}

.moment p.left {
}

.cloud {
    left: 50%;
    position: absolute;
    z-index: 0;
    background-image: url('../img/clouds.png');
    background-repeat: no-repeat;
}

.cloud-1 {
    width: 143px;
    height: 57px;
    background-position: 0px 0px;
}

.cloud-2 {
    width: 156px;
    height: 64px;
    background-position: 0px -57px;
}

.cloud-3 {
    width: 308px;
    height: 87px;
    background-position: 0px -121px;
}

.cloud-4 {
    width: 206px;
    height: 81px;
    background-position: 0px -208px;
}

.cloud-5 {
    width: 188px;
    height: 76px;
    background-position: 0px -289px;
}

.cloud-6 {
    width: 206px;
    height: 81px;
    background-position: 0px -365px;
}

#bird {
    position:absolute;
    width: 48px;
    height: 32px;
    margin-left: auto;
    right:7%;
    background: url('../img/bird.png');
    -webkit-box-reflect: left;
}

#button-send {
    margin-left:100px;
    text-align:center;
    background-color: #71C0BE;
    color:white;
}

.clouding {
    animation: cloud 5s linear infinite;

    -webkit-animation: cloud 5s linear infinite;

    -moz-animation: cloud 5s linear infinite;

    -o-animation: cloud 5s linear infinite;
}

.rocking {
    animation: rocking 2s linear infinite;
    -webkit-animation: rocking 2s linear infinite;
    -moz-animation: rocking 2s linear infinite;
    -o-animation: rocking 2s linear infinite;
}

.soaring {
    animation-name: soar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    -webkit-animation-name: soar;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: soar;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    z-index: 30;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

  .moment p.scroll-hint {
    background-image: url('../img/arrow@2x.png');
    background-size: 17px 29px;
  }

  #balloon {
    background-image: url('../img/balloon@2x.png');
    background-size: 609px 940px;
  }

  #bird {
    background-image: url('../img/bird@2x.png');
    background-size: 48px 32px;
  }

  .cloud {
    background-image: url('../img/clouds@2x.png');
    background-size: 308px 446px;
  }

  footer {
    background-image: url('../img/ground@2x.png');
    background-size: 3028px 378px;
  }

  nav ul li {
    background-image: url('../img/hearts@2x.png');
    background-size: 20px 36px;
  }

  header {
    background-image: url('../img/ribbon@2x.png');
    background-size: 1079px 245px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
